In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("GatesData8-29.csv")

In [5]:
def add_runtime(data):
    
    request_status = data['Chilled Water Request']
    run_time = np.zeros(request_status.shape[0])
    t=0

    for i in range(request_status.shape[0]):
        status = request_status[i]
        if status == 0:
            t=0
        elif status==1:
            t+=status
        run_time[i] = t

    data['Run Time'] = run_time
    
    return data



flow_parameters = ['Entry', 'CHWRT', 'CHWST', 'Chilled Water Request', 'OA Humidity',
       'OA Temperature', '3rd Floor AHU-1|SA Airflow',
       '3rd Floor AHU-2|SA Airflow', '3rd Floor AHU-3|SA Airflow',
       '3rd Floor AHU-7|SA Airflow', '3rd Floor AHU-8|SA Airflow',
       'Level 2 AHU-4|SA Airflow', 'Level 2 AHU-5|SA Airflow',
       'Roof AHU-10|SA Airflow', 'Roof AHU-11|SA Airflow',
       'Roof AHU-12|SA Airflow', 'Roof AHU-9|SA Airflow',
       '3rd Floor AHU-1|RA Humidity', '3rd Floor AHU-2|RA Humidity',
       '3rd Floor AHU-3|RA Humidity', '3rd Floor AHU-7|RA Humidity',
       '3rd Floor AHU-8|RA Humidity', 'Level 2 AHU-4|RA Humidity',
       'Level 2 AHU-5|RA Humidity', 'Roof AHU-10|RA Humidity',
       'Roof AHU-11|RA Humidity', 'Roof AHU-12|RA Humidity',
       'Roof AHU-9|RA Humidity', 'Run Time', 'CHW Flowrate']

data[flow_parameters].iloc[0].values

array([1.00000000e+00, 5.27828903e+01, 4.68585548e+01, 0.00000000e+00,
       5.80099983e+01, 6.99649963e+01, 1.69429761e+03, 0.00000000e+00,
       1.98079297e+03, 9.49919373e+02, 1.05518477e+04, 5.99299988e+02,
       0.00000000e+00, 9.23115234e+03, 1.09841416e+04, 9.07181250e+03,
       5.84565674e+03, 4.00800018e+01, 3.09370365e+01, 4.09332237e+01,
       4.36112099e+01, 4.38326225e+01, 3.71938667e+01, 4.33196983e+01,
       4.43871460e+01, 4.50800018e+01, 4.54247894e+01, 4.48100014e+01,
       0.00000000e+00, 0.00000000e+00])

In [6]:
data.head()

,Unnamed: 0,Entry,CHW Flowrate,CHWRT,CHWST,Chilled Water Request,OA Humidity,OA Temperature,Apparent Power,3rd Floor AHU-1|SA Airflow,...,3rd Floor AHU-3|RA Humidity,3rd Floor AHU-7|RA Humidity,3rd Floor AHU-8|RA Humidity,Level 2 AHU-4|RA Humidity,Level 2 AHU-5|RA Humidity,Roof AHU-10|RA Humidity,Roof AHU-11|RA Humidity,Roof AHU-12|RA Humidity,Roof AHU-9|RA Humidity,Run Time
0,1440,1,0.0,52.782890,46.858555,0,58.009998,69.964996,421204,1694.297607,...,40.933224,43.611210,43.832623,37.193867,43.319698,44.387146,45.080002,45.424789,44.810001,0
1,1441,2,0.0,52.882931,46.808537,0,58.009998,69.964996,424378,1692.494995,...,40.930000,43.901947,43.830002,36.353752,43.292130,44.441277,45.086147,45.772236,44.803440,0
2,1442,3,0.0,52.900002,46.799999,0,58.009998,69.922646,408166,1689.749268,...,40.930000,43.493839,43.830002,35.555622,43.262131,44.953041,45.098152,46.180176,44.791443,0
3,1443,4,0.0,52.817093,46.882908,0,58.009998,69.872650,391820,1687.003540,...,40.930000,43.085728,43.830002,34.757496,43.232136,45.464806,45.110153,46.588112,44.779446,0
4,1444,5,0.0,52.799999,46.900002,0,58.009998,69.822655,400133,1684.257813,...,40.930000,42.677620,43.830002,33.959366,43.202141,45.976570,45.122154,46.996052,44.767445,0

In [7]:
data = data.rename({'Entry':'Time'}, axis=1)
flowrate = data['CHW Flowrate']
return_temp = data['CHWRT']
action = data['Chilled Water Request']
power = data['Apparent Power']
data = data.drop(columns = ['Unnamed: 0','CHW Flowrate', 'CHWRT', 'Chilled Water Request', 'Apparent Power'])
data['Flow Rate'] = np.zeros(len(data.index))
data['Return Temperature'] = np.zeros(len(data.index))
data['Action'] = np.zeros(len(data.index))
data['Power'] = np.nan
data['Power Actual'] = power

In [8]:
data.head()

,Time,CHWST,OA Humidity,OA Temperature,3rd Floor AHU-1|SA Airflow,3rd Floor AHU-2|SA Airflow,3rd Floor AHU-3|SA Airflow,3rd Floor AHU-7|SA Airflow,3rd Floor AHU-8|SA Airflow,Level 2 AHU-4|SA Airflow,...,Roof AHU-10|RA Humidity,Roof AHU-11|RA Humidity,Roof AHU-12|RA Humidity,Roof AHU-9|RA Humidity,Run Time,Flow Rate,Return Temperature,Action,Power,Power Actual
0,1,46.858555,58.009998,69.964996,1694.297607,0.0,1980.792969,949.919373,10551.84766,599.299988,...,44.387146,45.080002,45.424789,44.810001,0,0.0,0.0,0.0,NaN,421204
1,2,46.808537,58.009998,69.964996,1692.494995,0.0,1947.038696,961.423218,10556.53516,631.227295,...,44.441277,45.086147,45.772236,44.803440,0,0.0,0.0,0.0,NaN,424378
2,3,46.799999,58.009998,69.922646,1689.749268,0.0,1902.605225,983.833008,10561.21484,670.954895,...,44.953041,45.098152,46.180176,44.791443,0,0.0,0.0,0.0,NaN,408166
3,4,46.882908,58.009998,69.872650,1687.003540,0.0,1858.171753,1006.242798,10565.89355,710.682434,...,45.464806,45.110153,46.588112,44.779446,0,0.0,0.0,0.0,NaN,391820
4,5,46.900002,58.009998,69.822655,1684.257813,0.0,1813.738281,1028.652588,10570.57324,750.409973,...,45.976570,45.122154,46.996052,44.767445,0,0.0,0.0,0.0,NaN,400133

In [9]:
data['Flow Rate'].iloc[0] =flowrate[0]

data['Return Temperature'].iloc[0] = return_temp[0]

data['Action'].iloc[0] = action[0]

/Users/dizadi/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [10]:
data.head()

,Time,CHWST,OA Humidity,OA Temperature,3rd Floor AHU-1|SA Airflow,3rd Floor AHU-2|SA Airflow,3rd Floor AHU-3|SA Airflow,3rd Floor AHU-7|SA Airflow,3rd Floor AHU-8|SA Airflow,Level 2 AHU-4|SA Airflow,...,Roof AHU-10|RA Humidity,Roof AHU-11|RA Humidity,Roof AHU-12|RA Humidity,Roof AHU-9|RA Humidity,Run Time,Flow Rate,Return Temperature,Action,Power,Power Actual
0,1,46.858555,58.009998,69.964996,1694.297607,0.0,1980.792969,949.919373,10551.84766,599.299988,...,44.387146,45.080002,45.424789,44.810001,0,0.0,52.78289,0.0,NaN,421204
1,2,46.808537,58.009998,69.964996,1692.494995,0.0,1947.038696,961.423218,10556.53516,631.227295,...,44.441277,45.086147,45.772236,44.803440,0,0.0,0.00000,0.0,NaN,424378
2,3,46.799999,58.009998,69.922646,1689.749268,0.0,1902.605225,983.833008,10561.21484,670.954895,...,44.953041,45.098152,46.180176,44.791443,0,0.0,0.00000,0.0,NaN,408166
3,4,46.882908,58.009998,69.872650,1687.003540,0.0,1858.171753,1006.242798,10565.89355,710.682434,...,45.464806,45.110153,46.588112,44.779446,0,0.0,0.00000,0.0,NaN,391820
4,5,46.900002,58.009998,69.822655,1684.257813,0.0,1813.738281,1028.652588,10570.57324,750.409973,...,45.976570,45.122154,46.996052,44.767445,0,0.0,0.00000,0.0,NaN,400133

In [11]:
data.to_csv('test_model_data.csv')